{{ define "main" }}
<pre style="white-space: pre;
    font-family: monospace;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: unset;
    transform: unset;
    overflow-y: hidden;">
                                                                                                   
                                                 .....                                             
                                           .:-=++++++++++=-:.                                      
                                        .-=+++++++++++++++++++=:.                    .--           
                                      .=+++++++++++++++++++++++++=-.                 %@@@+         
                                    .-+++++++++++++++++++++++++++++=-.               -@@@@=        
                                   :=+++++++++++==----===++++++++++++=-.              #@@@@:       
                                  -++++++++++=:.         .:-=++++++++++=-.            *@@@@-       
                                 -+++++++++=:                .-=+++++++++=:          .=++++.       
                                :++++++++=- :=+=-:.             :=++++++++++-.       =++++=        
                          :===..=+++++++=- -+++++++++=-.          .=++++++++++=:. .-=+++++:        
                      .-=++++=-=+++++++++==++++++++++++=:           .-=++++++++++++++++++-         
                    :=+++++++++++++++++++++++++++++++++++=.  ..       .:=++++++++++++++=:          
                  :=++++++++++++++++==++++++++++++++++++++=:  :-:        .-=+++++++++=:            
                .=+++++++++++++=-=+=..=++++++++++++++++++++=:  :=-           .:---:.               
               -+++++++++++++++=: ...-====++++++++++++++++++=:  -+:                                
             .=+++++++++++++++=-.     ..-=+++++++++++++++++++-. :==.                               
            .=+++++++++++++++==-=-..-. .-+++++++++++++++++++++: :=+-. .                            
           .=++++++++++++++++++++=.:++=--=++++++++++++++++++++===+++: :-.                          
          .=+++++++++++++++++++++=-=++++++++++++++++++++++++++++++++=-=+=.                         
          =++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-.                        
         :++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++:                        
         =++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=.                       
        :+++++++++++++++++++++++++*#%%%%#*+++++++++++++++++++++++++++++++++-                       
        -++++++++++++++++++++*%@@@@@@@@@@@@@@#+++++++++++++++++++++++++++++=.                      
        =++++++++++++++++++#@@@@@@@@@@@@@@@@@@@%++++++++++++++++++++++++++++:                      
        +++++++++++++++++*@@@@@@@@@@@@@@@@@@@@@@@#++++++++++++++++++++++++++-                      
       .++++++++++++++++*@@@@@@@@@@@@@@@@@@@@@@@@@#+++++++++++++++++++++++++=.                     
        ++++++++++++++++%@@@@@@@@@@@@@@@@@@@@@@@@@@#++++++++++++++++++++++++=.                     
        =++++++++++++++*@@@@@@@@@@@@@@@@@@@@@@@@@@@@*+++++++++++++++++%@@#+++-                     
        -++++++++++++++#@@@@@@@@@@@@@@@@@@@@@@@@@@@@%++++++++++++++++#@@@@#++=.                    
        :++++++++++++++#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*+++++++++++++++%@@@@@*++-                    
        .=+++++++++++++#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#+++++++++++++=-#@@@@@#++=.                   
         -+++++++++++++*@@@@@@@@@@@%*=---=*%@@@@@@@@@#+++++++++++++=.=@@@@@#+++-                   
         .++++++++++++++%@@@@@@@@+..:----.  :*@@@@@@@*+++++++++++++=.=@@@@@#+++=.                  
          =+++++++++++++*@@@@@@*..-++++=::@@@-:#@@@@%++++++++++++++-.=@@@@@+=+++-                  
          .++++++++++++++#@@@@+. .-+++=:+@@@@@#.*@@@#++++++++++++++-.+@@@@-.=++++:                 
           -++++++++++++++#@@#.   :+++=.%@-  :@@.*@#+++++++++++++++: *@@@=.-+++++=.                
           .=++++++++++++++#@+     -++=:+@@++@@@*:=++++++++++++++++:.#@@=.-+++++++=:               
            .=+++++++++++++++-     .=++=:-@@@@@@% -+++++++++++++++=.-@@- .-+++++++++-              
             :+++++++++++++++-   .-==+++=-:::-:...:=++++++++++++++-.++.    .-=+++++++=.            
              :++++++++++++++=  :+*#*+++++++++++=::=+++++++++++++=:          .-=++++++=.           
               :+++++++++++++=.:#@@@@@*+++++++++=::=+++++++++++++- .=-.         :=*@@@*+:          
                :++++++++++++=::@@@@@@@*++- .-=+=.:+++++++++++++=..#@*=.           -%@@+=          
                 :++++++++++++-.:=+++==--.        -++++++++++++=. -++=-.                           
                  .=++++++++++=.                 .=+++++++++++=:                                   
                   .=+++++++++=:                 -+++++++++++=.                                    
                    .-+###++++=:                .=++++++**+=-.                                     
                      =@@@@*+++-                :+++++%@@@#:                                       
                       :@@@%+++-               .-++++#@@@+.                                        
                         :==++=:                :+++++=:                                           
                                                  ..                                               
                                                                                                   
                                                                                                   
</pre>
{{ end }}
